body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: gray;
  line-height: 1.5;
  background-image: url("/media/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(0px);
  transition: filter 0.3s ease-in-out;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 0;
  }

  .Nav {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px;
  }

  .contenedor {
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.9rem;
  }
}

/* Para pantallas medianas (tabletas) */
@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  .Nav {
    justify-content: space-between;
  }

  .contenedor {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1rem;
  }
}
