body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  color: gray;
  background-image: url("/media/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(0px);
  transition: filter 0.3s ease-in-out;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  font-size: 18px;
  min-height: 100vh;
}

main {
  flex: 1; /* Empuja el footer hacia abajo */
}

.footer {
  background-color: rgb(255, 211, 130);
  padding: 20px;
  text-align: center;
}

/* Para pantallas medianas (tabletas) */
@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  .contenedor {
    padding: 15px;
  }

  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1rem;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .contenedor {
    width: 100%;
    padding: 10px;
  }

  .Nav {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    font-size: 12px;
    padding: 10px;
  }
}
