.Nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px;
  background-color: rgba(197, 66, 184, 0.527);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.Nav img {
  max-height: 50px;
}

.button:hover {
  background-color: pink;
  color: rgb(78, 78, 78);
  cursor: pointer;
}

.Nav button {
  background-color: rgb(255, 93, 255);
  border: none;
  margin: 10px;
  border-radius: 5px;
  font-size: 30px;
  color: white;
}

@media (min-width: 1024px) {
  .Nav {
    padding: 5px 10px;
    width: 100%;
  }

  .Nav img {
    max-width: 70px;
  }

  .Nav button {
    font-size: 20px;
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .Nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .Nav img {
    max-width: 80px;
  }
}
