.Nav {
  height: 10vh;
  width: 100vw;
  background-color: rgba(173, 216, 230, 0.527);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
}

.Nav img {
  max-width: 100%;
  max-height: 50px;
}

.button:hover {
  background-color: pink;
  color: rgb(78, 78, 78);
  cursor: pointer;
}

.Nav button {
  background-color: rgb(255, 93, 255);
  border: none;
  margin: 10px;
  border-radius: 5px;
  font-size: 30px;
  color: white;
}
