.Header {
  z-index: 99999999;
}

.Nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(197, 66, 184, 0.527);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.Nav img {
  max-width: 100%;
  max-height: 50px;
}

.button:hover {
  background-color: pink;
  color: rgb(78, 78, 78);
  cursor: pointer;
}

.Nav button {
  background-color: rgb(255, 93, 255);
  border: none;
  margin: 10px;
  border-radius: 5px;
  font-size: 30px;
  color: white;
}

@media (max-width: 768px) {
  .Nav {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .Nav img {
    max-width: 80px;
  }
}
